#Video{
	width: 520px;
	margin: 20px auto;
	background-color: #FFBE69;
	padding: 5px;
	border: 2px solid #000000;
	border-radius: 8px;
}

nav{
	margin: 5px 0px;
}

#Botones{
	float: left;
	width: 100px;
	height: 20px;
}

#Barra{
	background-color: #FFFFFF;
	width: 420px;
	height: 16px;
	border: 1px solid #000000;
	padding: 1px;
	margin-left: 70px;
}

#Progreso{
	position: absolute;
	width: 0px;
	height: 16px;
	background-color: #FF0000;
}