#contenido_principal {
    float: left;
    padding: 30px;
    border: 2px dotted #FF0303;
}

#zona_datos {
    float: left;
    width: 600px;
    margin-left: 30px;
    padding: 30px;
    border: 2px solid #1FF542;
}

#contenido_principal span {
    color: #1200FF;
    cursor: pointer;
}