#zona_destino {
    float: left;
    width: 500px;
    height: 300px;
    margin: 100px;
    border: 1px solid #000;
}

#caja_imagen {
    float: right;
    width: 500px;
    margin: 30px;
    border: 1px solid #000;
}
