#contenedor {
    width: 80%;
    margin: auto;
}

#zona_datos {
    float: right;
    border: 2px solid #337ab7;
    padding: 10px;
}

#zona_formulario {
    float: left;
    border: 2px solid #FF0303;
    padding: 10px;
    margin-right: 10px;
}

#zona_recepcion {
    float: left;
    border: 2px solid #1FF542;
    margin-left: 10px;
    width: 300px;
    height: 263px;
    padding: 10px;
}