[req]
default_bits = 2048
default_md = sha256
distinguished_name = req_internal
prompt = no

[req_internal]
C = CO
ST = SANTANDER
L = BUCARAMANGA
O = JESTEBANRODS S.A.S.
OU = DEV
CN = localhost develop ssl
