<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <h1>My Test: {{ users|length }}</h1>
        <ul>
            {% for name, item in users %}
                <h3>{{name}}</h3>
                {% for key, value in item %}
                    <li>{{key}}: {{ value }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </body>
</html>