html, body, h1 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

main {
	display: flex;
	width: 70%;
	background: ligthgray;
	padding: 20px;
	font-family: sans-serif;
	text-align: center;
	background-color: #B2FE90;
	flex-wrap: wrap;
}

h1 {
	flex-basis: 100%;
}

.col-izq {
	background-color: #DDC4FF;
	width: 25%;
	min-height: 200px;
	flex-grow: 1;
	margin-right: 20px;
}

.col-der {
	background-color: #FBB6B6;
	width: 70%;
	min-height: 200px;	
	flex-grow: 0.5;
}
