body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

main {
	display: flex;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	background-color: #D5D5D5;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/*justify-content: flex-start;*/
	/*justify-content: flex-end;*/
	/*justify-content: space-between;*/
	/*flex-direction: column;*/
	/*flex-wrap: wrap;*/
}

div {
	padding: 20px;
	border: 1px solid black;
	/*flex-basis: 200px;*/
	/*flex-shrink: 10;*/
	/*flex-grow: 10;*/
	/*flex: 1;*/
}

main div:nth-child(odd) {
	background-color: #FFC7C7;
}

main div:nth-child(even) {
	background-color: #D6FFE1;
}

main div:nth-child(2) {
	background-color: red;
	align-self: flex-start;
	/*order: -1;*/
}

@media (max-width: 768px) {
	main div:nth-child(5) {
		background-color: red;
		order: -1;
	}
}
