<p>Prueba del index de simcards</p>

<span class="btn btn-default">{{#link-to 'simcards.new'}}New{{/link-to}}</span>
<span class="btn btn-default">{{#link-to 'simcards.show' 123546567}}Show{{/link-to}}</span>
<span class="btn btn-default">{{#link-to 'simcards.found'}}Found{{/link-to}}</span>
