@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1, h3, p, div, ul, li, img {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    font-family: 'Merriweather Sans', sans-serif;
}

main {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.clearfix {
    clear: both;
}

.contenido {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
    width: 700px;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    overflow: auto;
}

.izquierda {
    float: left;
    width: 25%;
}

.izquierda > img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.izquierda ul {
    list-style: none;
    margin-bottom: 20px;
}

.izquierda li {
    margin-top: 8px;
}

.izquierda a {
    color: black;
    text-decoration: none;
}

.izquierda ul li div {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-image: url(mini-social-icons.png);
    background-size: 400px;
    background-position: 0px -37px;
    background-repeat: no-repeat;
    vertical-align: middle;
    border-radius: 50%;
}

.izquierda ul li:nth-child(2) div {
    background-position: -290px -37px;
}

.izquierda ul li:nth-child(3) div {
    background-position: -146px -37px;
}

.derecha {
    float: right;
    width: 72%;
}

.derecha h1 {
    margin-bottom: 5px;
    font-size: 30px;
}

.derecha h3 {
    margin-bottom: 10px;
}

.derecha p {
    text-align: justify;
    margin-bottom: 8px;
}

.proyectos {
    min-height: 100px;
}

.proyectos h1 {
    margin-bottom: 8px;
}

.proyectos ul {
    width: 700px;
    height: 160px;
    list-style: none;
    margin: 0 auto;
}

.proyectos ul li {
    width: 160px;
    height: 160px;
    display: inline-block;
    margin-right: 20px;
}

.proyectos ul li:last-of-type {
    margin-right: 0px;
}

.proyectos ul li img {
	border-radius: 8px;
}
