- hosts: localhost
  become: true
  connection: local

  tasks:
    - name: Add PPA's
      apt_repository:
        repo: '{{ item }}'
      with_items:
        - ppa:webupd8team/java
        - ppa:git-core/ppa
        - ppa:ansible/ansible
        - ppa:dawidd0811/neofetch
        - ppa:papirus/papirus
        - ppa:longsleep/golang-backports
        - ppa:ondrej/php
        - ppa:zeal-developers/ppa
        - ppa:danielrichter2007/grub-customizer

    - name: Add APT Keys
      apt_key:
        keyserver: hkp://keyserver.ubuntu.com:80
        id: '{{ item }}'
      with_items:
        - 0C49F3730359A14518585931BC711F9BA15703C6
        - 36A1D7869245C8950F966E92D8576A8BA88D21E9
        - 36A1D7869245C8950F966E92D8576A8BA88D21E9

    - name: Update Cache & Upgrade Apt
      apt:
        update_cache: true

    - name: Delete Trash Files
      file:
        path: ./playbook.ppa.retry
        state: absent

