html, body {
    width: 100%;
    /*height: 100%;*/
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


html, body, main, section, ul, nav, p, div {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

body {
	background-image: url(geometry.png);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 60%;
}

nav {
	width: 100%;
	margin: 10px;
}

ul {
	display: flex;
	padding: 10px;
	background-color: rgba(174, 179, 146, 0.8);
	border-radius: 10px;
	justify-content: center;
}

li {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

a:hover {
	color: black;
}

.social {
	flex: 1;
}

.menu {
	flex: 3;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

@media (max-width: 900px) {
	ul {
		flex-wrap: wrap;
	}
	.menu {
		flex-basis: 33%;
	}
}

section img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
}

.contenido {
	display: flex;
	width: 100%;
	background-color: rgba(174, 179, 146, 0.8);
	padding: 10px;
	border-radius: 10px;
	text-align: justify;
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
}

.contenido input[type=text] {
	padding: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-right: 10px;
	flex: 3;
}

.contenido input[type=submit] {
	padding: 5px 10px;
	border: 1px solid gray;
	border-radius: 5px;
	flex: 1; 
}

footer {
	width: 100%;
	background-color: rgba(174, 179, 146, 0.8);
	padding: 10px;
	border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}
