<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formularios</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <main id="app">
        <h3>Formulario
            <span>{{ formTitle }}</span>
        </h3>
        <span v-show="msg" v-text="existsErrorMsg"></span>
        <span v-show="msg.response" v-html="msg.response" :class="setClass"></span>
        <form @submit.prevent="sendForm" class="formulario" id="formulario">
            <div class="input">
                <input v-model="formType" :value="true" type="radio" name="formType">A
                <input v-model="formType" :value="false" type="radio" name="formType">B
            </div>
            <input @keyup="validateData" title="nombre" class="input" type="text" name="name" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" placeholder="Nombre"
                required>
            <input @keyup="validateData" title="teléfono" class="input" type="number" name="phone" pattern="^[0-9]+$" placeholder="Teléfono"
                required>
            <template v-if="!formType">
                <input @keyup="validateData" title="email" class="input" type="email" name="email" placeholder="Correo Electrónico" required>
                <select class="input" name="languages">
                    <option v-for="option in options" :value="option.id" v-text="option.name"></option>
                </select>
            </template>
            <template v-else>
                <textarea @keyup="validateData" title="comentario" class="input" name="comment" cols="30" rows="10" placeholder="Comentario"
                    required></textarea>
            </template>
            <input type="submit" value="Enviar">
        </form>
    </main>
    <script src="../vue.min.js"></script>
    <script src="../axios.min.js"></script>
    <script src="main.js"></script>
</body>

</html>