body {
    font-family:'Arial';    
}

.input {
    width: 400px; 
    font-family:'Arial';
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
    padding: 3px;
}

.formulario [required]:valid{
    border: thin solid green;
    outline: thin solid green;
}

.formulario [required]:invalid{
    border: thin solid red;
    outline: thin solid red;
}
