/*Se mueve en funci贸n de su posici贸n*/
.uno {
	width: 250px;
	height: 150px;
	background: blue;
	position: relative;
	top: 10px;
}

/*Se mueve en funci贸n de la posici贸n de su contenedor padre*/
.dos {
	width: 250px;
	height: 100px;
	background: green;
	position: absolute;
    top:20px;
}

/*Se queda posicionado fijo*/
.uno {
	width: 100%;
	height: 50px;
	background: blue;
	position: fixed;
    top: 0;
}
